<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" *ngIf="headerState | async as header">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggleNavbar()" aria-controls="aidos-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand" routerLink="/">{{ 'title' | translate }}</a>
  <div [ngbCollapse]="header.navbarCollapsed" class="collapse navbar-collapse" id="aidos-navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fa fa-home fa-fw" aria-hidden="true"></i> {{ 'links.home' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active"><i class="fa fa-info fa-fw" aria-hidden="true"></i> {{ 'links.about' | translate }}</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="!header.hideLogin">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> {{ 'links.login' | translate }}</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="header.hideLogin && userState | async as user">
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-navbar clickable" id="user-menu" ngbDropdownToggle><i class="fa fa-user fa-fw" aria-hidden="true"></i> {{ user.username }}</button>
          <div class="dropdown-menu" aria-labelledby="user-menu">
            <h6 class="dropdown-header">{{ 'menu.header' | translate }}</h6>
            <a class="dropdown-item clickable"><i class="fa fa-user fa-fw" aria-hidden="true"></i> {{ 'links.profile' | translate }}</a>
            <a class="dropdown-item clickable"><i class="fa fa-gear fa-fw" aria-hidden="true"></i> {{ 'links.settings' | translate }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item clickable" (click)="logout()"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> {{ 'links.logout' | translate }}</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
