@import "../../styles/variables";
div.footer {
  margin-top: 20px;
  width: 100%;
  div.content {
    min-height: 100px;
    padding-top: 10px;
    background-color: $footer-content-background-color;
    border-top: 1px solid $footer-content-top-border-color;
    * {
      color: $footer-content-color;
    }
  }
  div.information {
    line-height: 0;
    padding-top: 12px;
    background: $footer-information-background-color;
    border-top: 1px solid $footer-information-top-border-color;
    * {
      color: $footer-information-color;
    }
    div.container-fluid {
      display: flex;
      div.copyright-container,
      div.social-media-container {
        display: inline-block;
      }
      div.copyright-container {
        flex: 1 1 auto;
      }
    }
    .copyright {
      font-size: 1.15rem;
      white-space: nowrap;
      margin-right: 5px;
    }
    .social-brand {
      font-size: 1.25rem;
    }
  }
}
