@import "../../styles/variables";
footer {
  margin-top: 25px;
  width: 100%;
  div.upper {
    min-height: 40px;
    padding-top: 8px;
    background-color: $footer-upper-background-color;
    border-top: 1px solid $footer-upper-border-color;
    * {
      color: $black;
    }
  }
  div.lower {
    text-align: center;
    padding-top: 10px;
    background: $footer-lower-background-color;
    * {
      color: $footer-lower-color;
    }
    div.container {
      height: 100%;
      padding-top: 50px;
    }
  }
}
