<div class="footer">
  <div class="content">
    <div class="container">
      <span>Hello, World!</span>
    </div>
  </div>
  <div class="information">
    <div class="container-fluid">
      <div class="copyright-container">
        <span class="copyright">{{ 'title' | translate }} <i class="fa fa-copyright fa-fw" aria-hidden="true"></i> 2017</span>
      </div>
      <div class="social-media-container">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="social-brand" href="http://facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-brand" href="http://linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-brand" href="https://plus.google.com/"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-brand" href="https://twitter.com/"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
