@import '../../styles/variables';
.container {
  max-width: 800px;
  border: solid 1px $gray-lighter;
  border-radius: $border-radius;
}

.login-container {
  margin: auto;
  padding: 10px;
  .shibolleth-login {
    text-align: center;
    margin: auto;
  }
}

.login-header-container {
  padding: 10px 10px 5px 0px;
  border-bottom: solid 1px $gray-lighter;
}

.login-header {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .login-container {
    .basic-login {
      border-right: solid 1px $gray-lighter;
    }
  }
}

@media screen and (max-width: 768px) {
  .login-container {
    .basic-login {
      border-bottom: solid 1px $gray-lighter;
      padding: 15px 5px 15px 5px;
    }
    .shibolleth-login {
      padding: 25px 5px 25px 5px;
    }
  }
}
