<div class="container">

  <button type="button" class="btn btn-primary clickable" (click)="userDetails()" [disabled]="!access_token">User details</button>

  <button type="button" class="btn btn-primary clickable" (click)="greet()" [disabled]="!access_token">Greet</button>

  <button type="button" class="btn btn-primary clickable" (click)="test()">Test</button>

  <hr/>

  <div *ngIf="user | async as user" class="col-md-10 col-offset-1">
    <span><strong>User details:</strong></span>
    <div [innerHTML]="user | aidosPrettyPrint"></div>
  </div>

  <div *ngIf="greetings | async as greetings" class="col-md-10 col-offset-1">
    <span><strong>Greetings:</strong></span>
    <div [innerHTML]="greetings | aidosPrettyPrint"></div>
  </div>

  <div *ngIf="results | async as results" class="col-md-10 col-offset-1">
    <span><strong>Test:</strong></span>
    <div [innerHTML]="results | aidosPrettyPrint"></div>
  </div>

</div>
